.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.header h1 {
  font-size: 100px;
  color: #100;
  line-height: 100px;
  justify-content: center;
}

.header h1 img {
  align-items: right;
}

.dhm {
  text-align: left;
  padding-left: 10%;
  color: #6e7fa9;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-right: 5%;
}

.footer {
  display: flex;
  justify-content: center;
}

.box {
  margin: auto;
}
.inside-box {
  left: 40%;
  width: 50%;
  height: 50%;
  padding: 10%;
  align-content: left;
  box-shadow: 1px 10px 10px #6e7fa9;
  border-radius: 20px;
  text-align: left;
}

.inside-box h6 {
  font-weight: normal;
  text-align: left;
}

.row {
  width: 100%;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.box-text {
  width: 80%;
  height: 80%;
  padding: 20%;
}

.main {
  width: 75%;
  flex: 10%;
  text-align: left;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  padding-left: 14px;
  padding-right: 14px;
}

.sidebar {
  background: linear-gradient(8.68deg, #ee9ae5 -25.58%, #7367f0 94.72%);
  box-shadow: 10px 10px 20px rgba(153, 153, 153, 0.38);
  min-height: 100vh;
  width: 20%;
  display: flex;
  padding: 5%;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: left;
  align-items: left;
  justify-content: left;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
